.e5_10 { 
	overflow:hidden;
}
.e5_10 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:1080px;
	position:absolute;
}
.e2_5 { 
	background-image:url(images/akashiback.png);
	width:1920px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
	background-repeat:no-repeat;
	background-size:cover;
}
.e5_14 { 
	border:1px solid rgba(41.43749848008156, 255, 49.97999869287014, 1);
}
.e5_14 { 
	width:500px;
	height:100px;
	position:absolute;
	left:710px;
	top:901px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e5_13 { 
	color:rgba(255, 255, 255, 1);
	width:316px;
	height:61px;
	position:absolute;
	left:92px;
	top:19.5px;
	font-family:Inter;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
	z-index: 1;
	text-decoration: none;
}
.e5_18 { 
	width:150px;
	height:50px;
	position:absolute;
	left:1728px;
	top:35px;
}
.e5_16 { 
	border:1px solid rgba(41.00000135600567, 255, 50.000000819563866, 1);
}
.e5_16 { 
	width:150px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e5_19 { 
	color:rgba(255, 255, 255, 1);
	width:58px;
	height:29px;
	position:absolute;
	left:46px;
	top:11px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	z-index: 1;
	text-decoration: none;
}
.e36_47 { 
	width:89px;
	height:67.70085144042969px;
	position:absolute;
	left:49px;
	top:26px;
	background-image:url(images/image_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e36_49 { 
	width:89px;
	height:89px;
	position:absolute;
	left:1601px;
	top:16px;
	background-image:url(images/image_5.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e36_81 { 
	color:rgba(255, 255, 255, 1);
	width:673px;
	height:240px;
	position:absolute;
	left:637px;
	top:133px;
	font-family:Kumar One;
	text-align:left;
	font-size:135px;
	letter-spacing:0;
}
.e53_86 { 
	width:670px;
	height:112px;
	position:absolute;
	left:625px;
	top:484px;
}
.e53_84 { 

	
	color:rgba(255, 255, 255, 1);
	width:541px;
	height:61px;
	position:absolute;
	left:700px;
	top:510px;
	font-family:Inter;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
	z-index: 1;
	text-decoration: none;
}
.e53_83 { 
	border:1px solid rgba(232.68750607967377, 13.961250744760036, 0, 1);
}
.e53_83 { 
	width:670px;
	height:112px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
