.e26_23 { 
	overflow:hidden;
}
.e26_23 { 
	width:1920px;
	height:1080px;
	position:absolute;
}
.e36_79 { 
	width:2727.332275390625px;
	height:2017.6517333984375px;
	position:absolute;
	left:-268.3561706542969px;
	top:-445.701416015625px;
}
.e62_2 { 
	width:2727.332275390625px;
	height:2017.6517333984375px;
	position:absolute;
	left:0px;
	top:0px;
}
.e32_21 { 
	transform: rotate(-119.9999987377448deg);
	background-image:linear-gradient(0deg, rgba(108.56093466281891, 117.14859545230865, 194.43749696016312, 1) 0%,rgba(127.36461326479912, 129.93804037570953, 197.30255842208862, 0.8715938329696655) 46.37477993965149%,rgba(255, 85.0000025331974, 85.0000025331974, 0.7400000095367432) 100%) ;
	width:901.0359497070312px;
	height:2239.68505859375px;
	position:absolute;
	left:450.5179748535156px;
	top:1900.16259765625px;
}
.e67_199 { 
	transform: rotate(-30.00000044529205deg);
	width:1039.530517578125px;
	height:453.9215087890625px;
	position:absolute;
	left:51.09657669067383px;
	top:586.4666748046875px;
	background-image:url(images/.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e67_203 { 
	transform: rotate(-30.00000044529205deg);
	width:1558.468017578125px;
	height:574.7132568359375px;
	position:absolute;
	left:1090.302734375px;
	top:1519.9354248046875px;
	background-image:url(images/.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e32_9 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e32_9 { 
	width:531px;
	height:71px;
	position:absolute;
	left:928.356201171875px;
	top:1153.701416015625px;
}
.e32_5 { 
	color:rgba(0, 0, 0, 1);
	width:257px;
	height:61px;
	position:absolute;
	left:1065.3538818359375px;
	top:1158.701416015625px;
	font-family:Inter;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
.e36_75 { 
	width:50px;
	height:43.33333206176758px;
	position:absolute;
	left:2118.352294921875px;
	top:478.701416015625px;
	background-image:url(images/image_6.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e32_3 { 
	background-color:rgba(0, 0, 0, 0.20000000298023224);
	width:485px;
	height:438px;
	position:absolute;
	left:951.355712890625px;
	top:663.7014770507812px;
	background-image:url(images/ellipse_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e32_20 { 
	color:rgba(0, 0, 0, 1);
	width:484px;
	height:73px;
	position:absolute;
	left:1541.35400390625px;
	top:500.701416015625px;
	font-family:Inter;
	text-align:left;
	font-size:60px;
	letter-spacing:0;
}
.e67_197 { 
	width:469px;
	height:75px;
	position:absolute;
	left:355.3559265136719px;
	top:1295.701416015625px;
}
.e67_195 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e67_195 { 
	width:469px;
	height:75px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e67_196 { 
	color:rgba(0, 0, 0, 1);
	width:412px;
	height:61px;
	position:absolute;
	left:28.0009765625px;
	top:7px;
	font-family:Inter;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
	z-index: 1;
	text-decoration: none;
}
.e77_8 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e77_8 { 
	width:412px;
	height:71px;
	position:absolute;
	left:1322px;
	top:245px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e77_10 { 
	color:rgba(0, 0, 0, 1);
	width:267px;
	height:61px;
	position:absolute;
	left:1394px;
	top:250px;
	font-family:Inter;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
