
.e69_204 { 
	overflow:hidden;
}
.e69_204 { 
	
	width:1920px;
	height:1080px;
	position:absolute;
}
.e70_217 { 
	background-image:linear-gradient(0deg, rgba(121.61198034882545, 131.99345648288727, 142.37500101327896, 1) 0%,rgba(8.000000473111868, 8.000000473111868, 8.000000473111868, 1) 100%) ;
	width:1106px;
	height:1080px;
	position:absolute;
	left:419px;
	top:0px;
}
/*.e71_229 { 
	width:395px;
	height:1080px;
	position:absolute;
	left:1525px;
	top:0px;
	background-image:url();
	background-repeat:no-repeat;
	background-size:cover;
}*/
/*.e71_227 { 
	width:419px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url();
	background-repeat:no-repeat;
	background-size:cover;
}*/
.e70_208 { 
	width:530px;
	height:326px;
	position:absolute;
	left:958px;
	top:214px;
	background-image:url(images/image_10.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e70_216 { 
	width:400px;
	height:400px;
	position:absolute;
	left:419px;
	top:177px;
	background-image:url(images/image_11.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e70_219 { 
	color:rgba(255, 255, 255, 1);
	width:536px;
	height:121px;
	position:absolute;
	left:770px;
	top:0px;
	font-family:Irish Grover;
	text-align:left;
	font-size:100px;
	letter-spacing:0;
}
.e71_230 { 
	color:rgba(255, 255, 255, 1);
	width:607px;
	height:121px;
	position:absolute;
	left:670px;
	top:653px;
	font-family:Inter;
	text-align:center;
	font-size:100px;
	letter-spacing:0;
}
.e71_234 { 
	width:406px;
	height:106px;
	position:absolute;
	left:755px;
	top:887px;
}
.e71_231 { 
	background-image:linear-gradient(0deg, rgba(128.0000075697899, 137.00000703334808, 145.00000655651093, 1) 0%,rgba(35.00000171363354, 37.00000159442425, 39.00000147521496, 1) 100%) ;
	width:406px;
	height:106px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e71_233 { 
	color:rgba(255, 255, 255, 1);
	width:324px;
	height:61px;
	position:absolute;
	left:41px;
	top:23px;
	font-family:Inter;
	text-align:center;
	font-size:50px;
	letter-spacing:0;
	z-index: 1;
	text-decoration: none;
	z-index: 1;
	text-decoration: none;
}
