.e71_235 { 
	overflow:hidden;
}
.e71_235 { 
	background-image:linear-gradient(0deg, rgba(40.414844155311584, 109.31024685502052, 190.18750101327896, 1) 0%,rgba(181.68749392032623, 28.767186664044857, 28.767186664044857, 1) 100%) ;
	width:1920px;
	height:1080px;
	position:absolute;
}
.e72_366 { 
	color:rgba(255, 255, 255, 1);
	width:928px;
	height:132px;
	position:absolute;
	left:496px;
	top:43px;
	font-family:Jacques Francois Shadow;
	text-align:left;
	font-size:100px;
	letter-spacing:0;
}
.e72_368 { 
	color:rgba(255, 255, 255, 1);
	width:536px;
	height:121px;
	position:absolute;
	left:72px;
	top:213px;
	font-family:Irish Grover;
	text-align:center;
	font-size:100px;
	letter-spacing:0;
}
.e72_370 { 
	color:rgba(255, 255, 255, 1);
	width:507px;
	height:121px;
	position:absolute;
	left:1356px;
	top:213px;
	font-family:Inter;
	text-align:left;
	font-size:100px;
	letter-spacing:0;
}
.e77_3 { 
	color:rgba(255, 255, 255, 1);
	width:615px;
	height:73px;
	position:absolute;
	left:632px;
	top:539px;
	font-family:Inter;
	text-align:left;
	font-size:60px;
	letter-spacing:0;
}
.e77_4 { 
	color:rgba(255, 255, 255, 1);
	width:447px;
	height:73px;
	position:absolute;
	left:736px;
	top:676px;
	font-family:Inter;
	text-align:left;
	font-size:60px;
	letter-spacing:0;
}
.e77_7 { 
	width:352px;
	height:103px;
	position:absolute;
	left:784px;
	top:813px;
}
.e77_5 { 
	background-image:linear-gradient(0deg, rgba(150.87499290704727, 98.69739353656769, 98.69739353656769, 1) 0%,rgba(191.25, 125.90625151991844, 125.90625151991844, 0) 100%) ;
	width:352px;
	height:103px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e77_6 { 
	color:rgba(255, 255, 255, 1);
	width:204px;
	height:73px;
	position:absolute;
	left:74px;
	top:15px;
	font-family:Inter;
	text-align:left;
	font-size:60px;
	letter-spacing:0;
	z-index: 1;
	text-decoration: none;
}
.e98_3 { 
	width:50px;
	height:43.33333206176758px;
	position:absolute;
	left:1838px;
	top:21px;
	background-image:url(images/image_6.png);
	background-repeat:no-repeat;
	background-size:cover;
}
