.e8_27 { 
	overflow:hidden;
}
.e8_27 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:1080px;
	position:absolute;
}
.e11_33 { 
	width:1919px;
	height:1080px;
	position:absolute;
	left:1px;
	top:0px;
}
.e11_28 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:900px;
	height:650px;
	position:absolute;
	left:509px;
	top:215px;
	border-top-left-radius:40px;
	border-top-right-radius:40px;
	border-bottom-left-radius:40px;
	border-bottom-right-radius:40px;
}
.e19_6 { 
	background-image:url(images/backall.png);
	width:1919px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
	background-repeat:no-repeat;
	background-size:cover;
}
.e36_77 { 
	width:260px;
	height:43px;
	position:absolute;
	left:829px;
	top:649px;
}
.e36_39 { 
	color:rgba(0, 0, 0, 1);
	width:103px;
	height:42px;
	position:absolute;
	left:75px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:35px;
	letter-spacing:0;
	z-index: 1;
	text-decoration: none;
}
.e36_38 { 
	border:1px solid rgba(255, 0, 45.90002842247486, 1);
}
.e36_38 { 
	width:260px;
	height:43px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}
.e17_31 { 
	width:349px;
	height:36px;
	position:absolute;
	left:962px;
	top:772px;
}
.e17_29 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e17_29 { 
	width:349px;
	height:36px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}
.e17_28 { 
	color:rgba(0, 0, 0, 1);
	width:307px;
	height:36px;
	position:absolute;
	left:21px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
	z-index: 1;
	text-decoration: none;
}
.e17_18 { 
	border:1px solid rgba(0, 56.100003495812416, 255, 1);
}
.e17_18 { 
	width:600px;
	height:55px;
	position:absolute;
	left:659px;
	top:513px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}
.e11_34 { 
	border:1px solid rgba(0, 56.100003495812416, 255, 1);
}
.e11_34 { 
	width:600px;
	height:55px;
	position:absolute;
	left:659px;
	top:382px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}
.e17_24 { 
	color:rgba(0, 0, 0, 1);
	width:245px;
	height:42px;
	position:absolute;
	left:659px;
	top:766px;
	font-family:Inter;
	text-align:left;
	font-size:35px;
	letter-spacing:0;
}
.e11_36 { 
	color:rgba(0, 0, 0, 1);
	width:147px;
	height:61px;
	position:absolute;
	left:886px;
	top:103px;
	font-family:Inter;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
.e17_21 { 
	color:rgba(0, 0, 0, 1);
	width:251px;
	height:42px;
	position:absolute;
	left:709px;
	top:388px;
	font-family:Inter;
	text-align:left;
	font-size:35px;
	letter-spacing:0;
}
.e17_22 { 
	color:rgba(0, 0, 0, 1);
	width:275px;
	height:42px;
	position:absolute;
	left:709px;
	top:519px;
	font-family:Inter;
	text-align:left;
	font-size:35px;
	letter-spacing:0;
}
.e36_71 { 
	width:50px;
	height:43.33333206176758px;
	position:absolute;
	left:1851px;
	top:21px;
	background-image:url(images/image_7.png);
	background-repeat:no-repeat;
	background-size:cover;
}
